/* Container styles */
.container {
    width: 600px;
    border: 5px solid rgb(4, 255, 4);
    background-color: rgb(41, 0, 0);
}

/* Row styles */
.row1, .row2, .row3 {
    border: 5px solid rgb(255, 188, 188);
    height: 200px;
}

/* Column styles */
.row1-col1, .row1-col2, .row2-col1, .row2-col2, .row3-col1, .row3-col2 {
    border: 2px dotted rgb(38, 38, 43);
}

/* Row 1 specific column styles */
.row1-col1 {
    background-color: teal;
}

.row1-col2 {
    background-color: thistle;
}

/* Row 2 specific column styles */
.row2-col1 {
    background-color: tomato;
}

.row2-col2 {
    background-color: turquoise;
}

/* Row 3 specific column styles */
.row3-col1 {
    background-color: violet;
}

.row3-col2 {
    background-color: yellowgreen;
}
